body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

/*--header section--*/
#nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

#nav-section div img {
    width: 139px;
    height: 60px;
    margin: 16px 0px 16px 120px;
}

nav ul li {
    display: inline;
    list-style: none;
    margin-right: 32px;
    font-weight: 500px;
    font-style: medium;
}

li a {
    text-decoration: none;
    color: black;
}

/*--common button__*/
button {
    background-color: #469165;
    margin: 24px 120px 24px 0px;
    padding: 16px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600px;
    font-style: Semi bold;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    border: 2px solid rgb(201, 248, 201);
    background-color: #4e634e;
    color: black;
}

/*--hero section---*/
.hero {
    background-image: url(./assets/hero-bg.png);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-bottom: 150px;
    text-align: center;
}

.hero .btn {
    background-color: #FFFFFF;
    color: #469165;
    font-size: 25px;
    font-weight: 500;
    font-style: medium;
    border-radius: 1000px;
    padding: 10px 25px;
    margin: 125px 0 0 0;
}

.btn img {
    height: 20px;
}

.hero h1 {
    font-size: 88px;
    font-weight: 700px;
    font-style: bold;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 15px;
}

.hero p {
    color: #FFFFFF;
    font-weight: 400px;
    font-size: 20px;
    margin-top: 16px;
}

.hero-btn img {
    width: 25px;
    height: 15px;
    align-items: center;
}

.hero-btn {
    font-size: 25px;
    margin-left: 120px;
}

#btn {
    font-size: 25px;
    margin-left: -115px;
    background-color: rgba(49, 48, 48, 0.22);
    border: 1px solid #FFFFFF;
    padding: 14px 20px;
}

#btn img {
    width: 19px;
    height: 19px;
    align-items: center;
}

#btn:hover {
    background-color: #b8d3b8;
}

/*-- notes section--*/
#heading {
    text-align: center;
    margin-top: 100px;
}

#heading h1 {
    font-size: 50px;
    font-weight: 700px;
    font-style: bold;
    margin-bottom: 0;
}

#heading p {
    font-size: 15px;
    font-weight: 400px;
    color: rgba(98, 115, 130, 1);
}

.note-card {
    display: flex;
    justify-content: space-between;
    margin: 40px 120px;
}

.card {
    width: 322px;
    height: 300px;
    text-align: center;
    padding: 24px;
    gap: 1px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgb(201, 201, 201);
}

.card img {
    background-color: rgba(249, 85, 85, 1);
    ;
    border-radius: 50px;
    padding: 20px;
    width: 60px;
    height: 60px;
}

.card:hover {
    background-color: #b2bcb2;
    transition: 1s;
}

.card h4 {
    font-size: 32px;
    font-weight: 600;
    font-style: semi bold;
    margin-bottom: 0;
}

.card p {
    font-weight: 400px;
    font-size: 19px;
    color: rgba(98, 115, 130, 1);
}

/*--solution section--*/
.solution {
    display: flex;
    justify-content: space-between;
    margin: 120px 120px;
    gap: 60px;
}

.solution-content {
    align-items: center;
    padding-top: 102px;
    width: 900px;
}

.solution-content p span {
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    font-style: medium;
}

.solution-content h1 {
    font-size: 48px;
    font-weight: 700px;
    font-style: bold;
    margin: 0;
}

.solution-content p {
    font-size: 16px;
    font-weight: 300px;
    color: rgba(98, 115, 130, 1);
}

.solution-content .list {
    font-size: 18px;
    font-weight: 800px;
    font-style: bold;
    color: black;
    display: flex;
}

.solution-content .list img {
    margin-right: 8px;
}

/*-- thinking section--*/
#think-clearly {
    background-color: rgba(247, 246, 242, 1);
    text-align: center;
    align-items: center;
    height: 380px;
    margin: 120px 120px;
    padding: 80px 40px;
}

#think-clearly h1 {
    font-weight: 700px;
    font-size: 42px;
    font-style: bold;
}

#think-clearly p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(98, 115, 130, 1);
    margin-top: -5px;
}

/*--footer section--*/
#footer-section {
    background-color: rgba(0, 25, 49, 1);
    height: 348px;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    padding: 120px 120px;
}

.logo-footer img {
    width: 139px;
    height: 60px;
}

.social {
    margin-top: -40px;
}

.social h4 {
    font-size: 22px;
    font-weight: 500px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.social img {
    margin-right: 16px;
}

#footer-section p {
    text-align: center;
    color: #FFFFFF;
}

hr {
    margin: 0 120px;
    border: 1px solid rgb(46, 46, 58);
}